<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12-組件通信-父子組件通信實例(watch實現)</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <cpn :number1="num1" @num1-change="num1Change"
             :number2="num2" @num2-change="num2Change"></cpn>
    </div>


    <template id="cpn">
        <div>
            <h2>props: {{number1}}</h2>
            <h2>data: {{dnumber1}}</h2>
            <input type="text" v-model="dnumber1">


            <h2>props: {{number2}}</h2>
            <h2>data: {{dnumber2}}</h2>
            <input type="text" v-model="dnumber2">
        </div>
    </template>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            num1: 1,
            num2: 0
        },
        methods: {
            num1Change(value){
                this.num1 = parseInt(value)
            },  
            num2Change(value){
                this.num2 = parseInt(value)
            }
        },
        components: {
            cpn: {
                template: '#cpn',
                props: {
                    number1: Number,
                    number2: Number
                },
                data(){
                    return {
                        dnumber1: this.number1,
                        dnumber2: this.number2
                    }                    
                },
                watch: {
                    dnumber1(newValue){
                        this.dnumber2 = newValue * 100
                        this.$emit('num1-change', newValue)
                    },
                    dnumber2(newValue){
                        this.dnumber1 = newValue / 100
                        this.$emit('num2-change', newValue)
                    }
                }                
            }
        }
    })
</script>
</html>