<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01-v-for遍歷數組</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 1. 在遍歷的過程中，沒有使用索引值 -->
            <ul>
                <li v-for="item in names">{{item}}</li>
            </ul>
            <br><hr>


        <!-- 2. 在遍歷的過程中，獲取索引值 -->
            <ul>
                <li v-for="(item, index) in names">
                    {{item}} -- {{index}}
                </li>
            </ul>
    </div>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            names: ['why', 'kobe', 'james', 'curry']
        }
    })
</script>
</html>